name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
      - name: Install glib-compile-schemas and gnome-shell
        run: sudo apt-get update -qq && DEBIAN_FRONTEND=noninteractive sudo -E apt-get install -qq -y libglib2.0-bin gnome-shell
      - run: yarn install
      - run: yarn compile
      - run: yarn compile:schemas
      - run: yarn lint --max-warnings 0
      - run: yarn format --check
      - run: yarn package
